body {
    background-color: rgb(80, 80, 80);
}

#header {
    position: relative;
    background: #664c8f;
    height: 290px;
}

.firstheads {
    margin: 0;
    position: absolute;
    top: 12%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.toptext {
    color: white;
    font-family: Arial;
    text-align: center;
}

.logo {
    width: 100px;
    margin: auto;
    display: block;
}

#listen {
    float: left;
    position: relative;
    background: rgb(39, 39, 39);
    height: 470px;
    width: 300px;
    margin: 10px 10px 10px 10px;
    margin-top: 10px;
    border-radius: 20px
}

.links {
    margin: 0;
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.links h2 {
    color: white;
    font-family: Arial;
    text-align: center;
}

.links img {
    width: 30px;
}

.links button {
    width: 220px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    background-color:rgb(80, 80, 80);
    border-radius: 20px;
    border-style: solid;
    margin: 10px 10px 10px 10px;
}

#info {
    overflow:hidden;
    background: rgb(39, 39, 39);
    height: 470px;
    width: auto;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
}

.infoinner {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 10px 10px 10px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.infotext {
    font-size: 24px;
    color: white;
    font-family: Arial;
    text-align: center;
}