body {
	background-image: url("../img/gradient.png");
    background-size: cover;
	margin: 0;
}

@font-face {
    font-family: "FunniSans"; /*a name to be used later*/
    src: url("../font/FunniSans.ttf"); /*URL to font*/
}

.header {
    overflow: hidden;
    top: 0;
	left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header h1 {
	font-family: "FunniSans", Comic Sans MS;
	text-transform: uppercase;
	font-size: 10vh;
	-webkit-text-stroke: 0.03em black;
	letter-spacing: 0.1em;
	color: white;
	margin: auto;
}

.logo {
	display: flex;
    align-items: center;
	flex-direction: column;
	height: 80%;
	text-align: center;
}

.listen {
	display: flex;
    align-items: center;
	flex-direction: column;
	margin-left: 5%;
	text-align: center;
}

.links {
	display: flex;
    align-items: center;
	flex-direction: row;
}

.links img {
	width: 15vh;
	padding: 5vh;
}

.logo img {
    height: 60%;
    margin: auto;
    display: block;
}

.logo h1 .green {
	color: #49EA62;
}

.logo h1 .pink {
	color: #F51EE8;
}

.content {
	margin-top: 100vh;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 8%;
}

.content p {
	font-family: "FunniSans", Comic Sans MS;
	font-size: 1.6em;
	color: white;
	-webkit-text-stroke: 0.04em black;
	text-transform: uppercase;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 0;
}

.content a {
	text-decoration: none;
	color: aqua;
}

.footer {
	text-align: center;
	margin: 0;
  	padding: 0;
}

.footer p {
	font-family: Arial;
	font-size: 1em;
	color: white;
	-webkit-text-stroke: 0.05em black;
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
}

@media (max-aspect-ratio: 9/5) {
	.logo {
		height: min(50vw, 50vh);
	}
	.header {
		flex-direction: column;
	}
	.header h1 {
		font-size: min(10vw, 10vh);
	}
	.listen {
		margin-left: 0%;
		margin-top: 5%;
	}
	.links img {
		width: min(15vw, 15vh);
		padding: min(5vw, 5vh);
	}
	.content p {
		font-size: min(6vw, 2em);
	}
	.footer p {
		font-size: min(4vw, 1em);
	}
}

/*
@media (max-aspect-ratio: 4/5) {
	.listen {
		display: block;
	}
}*/

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 0 6px rgba(0,0,0,0.5);
    border-radius: 10px;
}